.env
**.sqlite3
**.lock
**.lockb
*-lock.json
/target
/node_modules
*/__pycache__
/zig-cache
/zig-out
__pycache__
# Ignore dynaconf secret files
.secrets.*
/zig-cache/
/zig-out/
/answers/
/patches/healed/
