<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
        stopOnFailure="true"
         stopOnError="true"
         verbose="true"
         failOnWarning="true"
         failOnRisky="true"
>
    <testsuites>
        <!-- https://docs.phpunit.de/en/10.5/fixtures.html#sharing-fixture -->
        <testsuite name="easy">
            <directory> test/easy</directory>
        </testsuite>
        <testsuite name="medium">
            <directory> test/medium</directory>
        </testsuite>
        <testsuite name="hard">
            <directory>test/hard</directory>
        </testsuite>
        <testsuite name="very_easy">
            <directory>test/very_easy</directory>
        </testsuite>
        <testsuite name="very_hard">
            <directory>test/very_hard</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
            <directory>src/main/php/easy</directory>
            <directory>src/main/php/helpers</directory>
            <!-- <directory>src/main/php/veryeasy</directory> -->
        </include>
    </source>
    <php>
        <ini name="memory_limit" value="512M"/>
        <ini name="display_errors" value="1"/>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <!-- <env name="DB_CONNECTION" value="sqlite"/> -->
        <!-- <env name="DB_DATABASE" value=":memory:"/> -->
        <env name="MAIL_MAILER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
    <extensions></extensions>
    <!-- Logging and Coverage -->
    <!-- <logging><log type="testdox-text" target="tests/logs/testdox.txt"/><log type="junit" target="tests/logs/junit.xml"/><log type="teamcity" target="tests/logs/teamcity.xml"/></logging> -->
    <!-- Code Coverage Configuration -->
    <!-- <coverage processUncoveredFiles="true"><include><directory suffix=".php">src</directory></include><exclude><directory suffix=".php">src/Helpers</directory><file>src/Config.php</file></exclude><report><clover outputFile="tests/logs/clover.xml"/><html outputDirectory="tests/coverage"/><text outputFile="tests/logs/coverage.txt"/></report></coverage> -->
</phpunit>